.button-default{
    width: min-content;
    background-color: var(--primary-color);
    text-align: center;
    padding: .5em 1.5em;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

.button-default:disabled{
    background-color: var(--primary-variant-color);
}