.perfil-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.perfil-flex{
    flex: 100%;
    display: flex;
    flex-direction: column;
}

.perfil-foto{
    width: 10vh;
    height: 10vh;
    align-self: center;
}