.menu-content {
  width: 7em;
  background-color: var(--surface-color);
  border: 0.5px solid var(--primary-color);
  border-radius: 5px;
  position: absolute;
  top: 4.7em;
  right: 1em;
  z-index: 2;
  box-sizing: border-box;
}

.menu-options {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.options {
  width: 100%;
  padding: 0.5em 0em;
  text-align: center;
}

.title-option {
  font-size: 0.9em;
  color: white;
}
