.error-warning{
    font-size: 1em;
    color: white;
    padding: 0.2em;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--error-color);
    margin: 0 0 1em;
}