.signup-form{
    width: 70%;
    background-color: var(--surface-color);
    margin: 20vh auto;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px var(--primary-color) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-title{
    color: white;
}

.signup-label{
    color: white;
    align-self: flex-start;
}

.signup-button{
    margin: 1em .5em;
}

.signup-link{
    font-size: .6em;
    color: var(--secondary-color);
}

.signup-link:active{
    color: var(--secondary-color);
}

@media screen and (min-width: 36em) {
    .signup-form{
        width: 60%;
    }
}

@media screen and (min-width: 48em) {
    .signup-form{
        width: 50%;
    }
}

@media screen and (min-width: 62em) {
    .signup-form{
        width: 30%;
    }
}