:root{
  --background-color: #121212;
  --surface-color: #181818;
  --primary-color: #3700B3;
  --primary-variant-color: #BB86FC;
  --secondary-color: #03DAC5;
  --error-color: #B00020;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  box-sizing: border-box;
}
